/* ====================================================================== */

/* Frontmatter (Infobox) =============================================== */

/* ====================================================================== */

/* ------ Frontmatter ------ */
body {
  --infobox-width: 25%;
  --infobox-margin: 1em 0px 1em 1em;
  --infobox-margin-left: 1em 1em 1em 0px;
}

/* hide frontmatter option */
.hide-frontmatter .frontmatter-container {
  display: none;
}

/* look when collapsed */
body:not(.frontmatter-blockquote) .frontmatter-container.is-collapsed .frontmatter-container-header {
  color: var(--text-normal) !important;
  font-size: var(--font-smaller);
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
  width: fit-content;
}

body:not(.frontmatter-blockquote) .frontmatter-container:not(.is-collapsed) {
  width: var(--infobox-width);
}


/* make Metadata text disappear when not collapsed */
body:not(.frontmatter-blockquote) .frontmatter-container:not(.is-collapsed) .frontmatter-container-header {
  color: transparent;
  font-size: var(--font-smaller);
  display: flex;
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
  height: 0;
}


/* make container look like wikipedia infobox */
body:not(.frontmatter-blockquote) .frontmatter-container {
  background-color: var(--background-secondary-alt);
  padding: 0.2em;
  line-height: 1.5em;
  border: 1px solid var(--background-modifier-border);
  float: var(--infobox-position);
  clear: var(--infobox-position);
  margin: var(--infobox-margin);
}

/* style labels */
body:not(.frontmatter-blockquote) .frontmatter-container .frontmatter-section-label,
 .callout-content .dataview.inline-field-key {
    font-size: var(--h6-size);
    color: var(--text-normal);
    font-weight: var(--font-bold);
    background-color: var(--h6-background);
    text-align: center;
    margin-bottom: 0.2em;
    padding: 0;
   display: block;
}

/* style section data */
body:not(.frontmatter-blockquote) .frontmatter-container .frontmatter-section-data {
  font-size: var(--font-text-size);
  align-items: center;
  text-align: center;
  display: block;

}

/* style label-data pairs */
body:not(.frontmatter-blockquote) .frontmatter-container:not(.is-collapsed) .frontmatter-section {
  text-align: center;
  margin-bottom: 0.5em;
  display: block;
}


/* --- Blockquote Style Frontmatter --- */
.frontmatter-blockquote .frontmatter-container.is-collapsed .frontmatter-container-header {
  width: fit-content;
  color: var(--text-faint);
}

.frontmatter-blockquote .frontmatter-container .frontmatter-container-header {
  border-bottom: none;
  padding: 0.2em 0.4em;
}

.frontmatter-blockquote .frontmatter-container .frontmatter-section-label {
  padding-right: 0.5em;
  padding-left: 2em;
}

.frontmatter-blockquote .frontmatter-container .frontmatter-section-label::after {
  content: ":";
}


.frontmatter-blockquote .frontmatter-container .frontmatter-section > * {
  font-size: var(--font-ui-medium) !important;
  color: var(--text-normal);
  font-style: italic;

}
