/* ====================================================================== */

/* Inline Dataview Fields ============================================== */

/* ====================================================================== */

/* ------- Inline Dataview ------- */

/* default inline field styling */
.dataview.inline-field-key {
  font-family: inherit;
  font-weight: var(--font-bold);
  background-color: transparent;
  color: var(--text-accent);
}

.dataview.inline-field-key::after {
  content: ':';
}

.dataview.inline-field-value {
  font-family: inherit;
  background-color: transparent;
  padding: 0;
  
}

.dataview.inline-field-standalone-value {
  font-family: inherit;
  background-color: transparent;
  color: var(--text-accent);
  margin: 0;
  padding: 0;
}


/* inline fields inside a callout */
.callout-content .dataview.inline-field-key {
  display: block;
  margin-bottom: 0.2em;
  padding: 0;
  font-family: inherit;
  font-size: var(--h6-size);
  font-weight: 600;
  line-height: 1.6em;
  color: var(--text-normal);
  text-align: center;
  background-color: var(--h6-background);
}

/* get rid of ':' usually present after inline key when inside a callout */
.callout-content .dataview.inline-field-key::after {
  display: none;
}

/* center inline field value inside callout */
.callout-content .dataview.inline-field-value {
  background-color: transparent;
  padding: 0;
  display: block;
  text-align: center;
}
